table,th,td{
	border:2px double black;
	border-collapse:collapse;
	
	text-align:center;
}
th,td{ 
padding:20px;}

table{
	width: 100%;
	height:auto;
}

tr,td,th{
text-align:right;}
td{ 
height:50px;
vertical-align:bottom;
padding:10px;}

tr:nth-child(even)
{
background-color:blue;}


tr:nth-child(odd)
{
	background-color:purple;
}

tr:hover{
	background-color:green;
	color:white;
}
